/**
 *  Blog_menu frontend-css
 */
 
 div.blog_menu_box {
    background-color: #DDDDDD;
    padding:12px;
    max-width: 200px;
    margin-bottom: 23px;
    display: inline-grid;
    min-height: 137px;
}
 
 div.blog_menu_header {
    font-size: 14px;
    font-weight: bold;
}
 
 ul.blog_menu_list {
 
 }
 
 li.blog_menu_item {
 
 }
 
 span.num_of_entries {
    color: #7d8294;
    font-size: 12px;
    font-style: italic;
 }